<% include ./partials/header.ejs %>
<h1>Edit Currency Option</h1>

<form action="<%= `/${currencies.id}/edit?_method=PUT` %>" method="POST">
<p><%= currencies.country %></p>
<input id="title" type="text" value="<%= currencies.country %>">
<p><%= currencies.symbol %></p>
<input id="symbol" type="text" value="<%= currencies.symbol %>">
<p><%= currencies.gfxcode %></p>
<input id="gfxcode" type="text" value="<%= currencies.gfxcode %>">
<br><br>
  <input type="submit" value="Save changes">
</form>

<form action="<%= `/${currencies.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete from List" />
</form>

<h3><a href="../">Return to Home</a></h3>

<% include ./partials/end-plain.ejs %>
