<% include ./partials/header.ejs %>
<h1>Edit Available Currency Options</h1>

<% currencies.forEach(id => { %>
  <div class="currencies">
    <h4>
      <a href="<%= `/currenciess/${currencies.id}` %>">
        <%= currencies %>

      </a>
    </h4>
  </div>

<% }) %>

<form action="<%= `/currencies/${currencies.id}?_method=PUT` %>" method="POST">
  <label for="title">Country</label>
  <input id="title" type="text" name="country" value="<%= currencies.country %>" />

  <br />

  <label for="symbol">Symbol</label>
  <input id="symbol" type="text" name="sumbol" value="<%= currencies.symbol %>" />

  <br />

  <label for="gfxcode">gfxcode</label>

  <input id="gfxcode" type="text" name="gfxcode" value="<%= currencies.gfxcode %>" />
  <br />

  <input type="submit" value="Save changes" />
</form>

<h3><a href="../">Return to Home</a></h3>

<% include ./partials/end-plain.ejs %>
