<% include ./partials/header.ejs %>
<h1>Edit Currency Option</h1>


<p><%= data.country %></p>
<input id="title" type="text" value="<%= country %>">
<p><%= data.symbol %></p>
<input id="symbol" type="text" value="<%= symbol %>">
<p><%= data.gfxcode %></p>
<input id="gfxcode" type="text" value="<%= gfxcode %>">

  <input type="submit" value="Save changes">

  <form action="<%= `/${id}?_method=DELETE` %>" method="POST">
    <input type="submit" value="Delete this Item" />
  </form>

<h3><a href="../">Return to Home</a></h3>

<% include ./partials/end-plain.ejs %>
