<% include ./partials/header.ejs %>
<h1>Currency Option for <%= currencies.symbol %></h1>

<h2><%= currencies.country %> </h2>
<p><%= currencies.symbol %></p>
<p><%= currencies.gfxcode %></p>

<form action="<%= `/${currencies.id}/edit` %>" method="GET">
  <input type="submit" value="Edit Details" />
</form>
<form action="<%= `/${currencies.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete from List" />
</form>
<h3><a href="../">Return to Home</a></h3>


<% include ./partials/end-plain.ejs %>
